
body, #main_el {
    background-color: #E2E2E2 !important;
    background-image: none !important;
    font-family : 'RubikRegular';
}

.main_grid_anime {
    display: grid;
    grid-template-columns: 1fr 12fr 4fr 1fr;
    width: 100%;
    grid-template-areas: ". anime_el anime_top .";
}

.anime_top {
    grid-area: anime_top;
    margin: 10px 20px;
}

.anime_top_type {
    grid-column: 1 / 3;
    padding: 6px;
    border-bottom: #29A4D0 2px solid;
    color: #fff;
}

.anime_top_els {
    background-color: #fff;
    color: #333333;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.anime_top_title {
    border-bottom: none !important;
}

.anime_el_name {
    position: relative;
    display: flex;
}

.anime_el_name p {
    margin: auto;
}

.anime_el_name a {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    word-break: break-all;
}

.anime_el_img {
    position: relative;
}

.anime_top_els .add_anime_waif_inf {
    bottom: 0px;
    top: initial;
}

.anime_top_title input {
    display: none;
}

.anime_top_title {
    background-color: initial !important;
}

.anime_top_type, .anime_tabs {
    background-color: #333333;
    color: #fff;
}

.anime_top_list {
    grid-column: 1/3;
    display: none;
    background-color: rgba(0, 0, 0, 0.0) !important;
}
.anime_top_list .cl-effect-5 a span
{
    text-transform: none;
    font-family: "RubikLight";
    font-size : 16px;
}
.anime_top_els {
    margin: 5px 0px;
}

#ViewsRadio:checked ~ #ViewsList {
    display: block;
}

#PersRadio:checked ~ #PersList {
    display: block;
}

.anime_top_title input:checked + label {
    transition: 0.3s;
    background-color: #29A4D0;
}

.anime_top_title label {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 3px;
}

.anime_top_title {
    padding: 0px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.anime_el {
    grid-area: anime_el;
    background-color: #fff;
    margin: 10px 20px;
}

.anime_img {
    width: 100%;
    position: relative;
}

    .anime_img img {
        width: 100%;
    }

.anime_img_info {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: grid;
    grid-template-areas: ". anime_title add_info";
    grid-template-columns: 1fr 3fr 1fr;
}

.anime_title {
    text-align: center;
    grid-area: anime_title;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    font-family: "RubikLight";
}


.add_info {
    grid-area: add_info;
    text-align: right;
    padding: 7px;
}

.anime_info {
    color: #333333;
    font-size: 16px;
    padding: 0px 10px;
}

.anime_waifu {
    color: #333333;
    font-size: 22px;
}

.anime_waifu .cl-effect-5 a span
{
    font-family: "RubikLight";
    color : #fff;
    font-size : 16px;
}
.anime_waifu .cl-effect-5 a span::before 
{
    color : #44C4F3;
}
.search_el_name a
{
    font-size : 16px;
}

.anime_watch button {
    border: 0;
    background-color: rgb(24, 125, 207);
    width: 100%;
    padding: 1px;
    margin : 5px 0px;
    transition: 0.3s;
    
}

    .anime_watch button:hover {
        transition: 0.3s;
        background-color: rgb(54, 144, 218);
    }

.anime_watch a {
    color: #fff;
    font-family: "RubikLight";
    font-size: 20px;
}

.anime_watch {
    font-weight: bold;
    font-size: 20px;
    font-family: "RubikLight";
    color: #fff;
}

.anime_desc_title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: "RubikLight";
}

.search_els_anime {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search_el_text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.486) !important;
    width: 100%;
    text-align: center;
}

    .search_el_text a {
        color: #fff !important;
        font-size : 16px;
        font-weight : bold;
    }

.search_el {
    position: relative;
    margin: 10px !important;
}

.search_el_img {
    position: relative;
}

.add_anime_waif_inf {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 14px;
    color: #fff;
    font-family: "RubikLight";
}

.waif_inf_el {
    display: inline-block;
}

.anime_comments {
    color: #333333;
}

.comments {
    box-shadow: none !important;
}
.anime_edit_but {
    border: 0;
    background-color: #fff;
    width: 100%;
    padding: 4px;
    padding-left: 10px;
    font-size: 20px;
    margin-top : 5px;
    transition : 0.3s;
}

    .anime_edit_but:hover {
        background-color: #F6F6F6;
        transition: 0.3s;
    }
.anime_edit_but i {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}