html
{
    height : 100%;
}
body
{
    background-position: right;
    background-color: #8ED5FC !important;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-image: url("../images/chi2.png") !important;
}
.cool_mobile_content
{
    grid-area : content;
    display: none;
    width: 100%;
    font-family: InkTankRegular;
    text-align: center;
    font-size: 40px;
    color : #333333;
}
.err_message 
{
    font-size: 18px;
    color: #BE230F;
    height : 20px;
    margin-bottom : 3px;
}
.err_label_message
{
    font-size : 18px;
    color : #BE230F;
    margin-left : 20px;
}
.text_mask
{
    position: absolute;
    top : 30%;
    width: 600px;
    left: 45%;
    font-family: InkTankRegular;
    font-size: 50px;
}
.login_field input
{
    color : #333;
    font-family: "RubikRegular";
    width: 100%;
}
.auth_form
{
    grid-area: auth;
    background-color: #fff;
    color : #333;
    margin-right: 10px;
    font-size: 20px;
    font-family: "RubikLight";
}
.login_input
{
    margin : 0px 15px 5px 15px;
}
.login_label
{
    padding-left: 25px;
}
.lost_pass
{
    font-size: 17px;
    margin: 7px 25px;
}
.login_but
{
  color : #fff;
  margin : 5px 15px;
}
.login_to_regist .anime_watch
{
    margin : 0px 10px;
}
.social_login_list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.social_login_list > li
{
    margin : 3px 5px;
    display: inline-block;
    transition: 0.3s;
    width : 40px;
    height : 40px;
}

.main_grid
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height : 100%;
    grid-template-areas: 
        "content auth"
        "footer footer";
}
.login_to_regist
{
    padding: 7px;
}
.comm_but
{
    padding: 3px;
}
.login_input > input
{
    padding: 1px 3px;
    border : 1px solid #e2e2e2;
}

.regist_form
{
    grid-area: auth;
    display: none;
    align-self: center;
}
.login_form
{
    grid-area : auth;
    align-self: center;
}
.auth_form > hr
{
    margin : 0;
    background-color: #A9A9A9;
    color : #A9A9A9;
}
.main_footer
{
    margin: 0;
    grid-area: footer;
}