::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
  outline: none;
}
img
{
	max-width: 100%;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body{
	font-family: "BravoRegular", sans-serif;
	font-size: 18px;
	background-image: url(../images/bg_blue.png);
}
.header_login
{
	grid-area : h_login;
	font-size : 24px;
	display : inline-block;
	text-align: right;
}
.header_logo
{
	grid-area : h_logo;
	padding-top : 3px;
	font-family: 'Orbitron';
}
.header_logo img
{
	height: 30px;
}
.header_links
{
	grid-area: h_links;
}
.header_login a, .header_logo a
{
	color : #fff;
}
.header_list_links
{
	list-style-type: none;
	padding: 0;
	margin : -3px 0 0 0;
	vertical-align: middle;
	height: 100%;
	font-size: 24px;
}
.header_list_links a
{
	color : #fff;
}
.header_list_links > li
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.header_menu
{
	padding: 3px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
	grid-template-areas : "h_links . . . h_login";
}
.cl-effect-5 a {
	overflow: hidden;
	padding: 0 4px;
	display: inline-block;
	vertical-align: middle;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.dd_menu a
{
	color: #fff;
	font-size: 20px;
	display: block;
	padding: 3px 6px;
	width: 100px;
	transition: 0.3s;
}

.dd_menu a:hover
{
	transition: 0.3s;
	background-color: #29A4D0;
}
.dd_menu
{
	list-style-type: none;
	text-align: left;
	padding: 0;
	background-color: #333333;
	color : #fff;
	z-index: 20;
	border-width: 2px 0px 0px 0px;
	border-style: solid;
	border-color: #29A4D0;
	position: absolute;
	right: 0;
	top : 36px;
	display: none;
}
.dd_menu li:last-of-type
{
	border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #29A4D0;
}
.header_dropdown
{
	position: relative;
}
.user_dropdown_img
{ 
	height: 30px;
	border-radius: 100px;
}
.user_dropdown
{
	padding: 3px;
	margin : -3px 0px;
	display: inline-block;
	transition: 0.3s;
}
.user_dropdown:hover
{
	transition: 0.3s;
	background-color: #7B52AB;
	cursor: pointer;
}
.user_dropdown i, .header_logo_text
{
	height: 100%;
	vertical-align: middle;
}
.heaven_menu_logo
{
	height: 85px;
	margin-top : -15px;
	grid-column: 2;
}
.heaven_menu_logo_cont
{
	grid-area: heav_logo;
	display: grid;
	grid-template-columns : 1fr 1fr 2fr;
}
.heaven_menu
{
	display: grid;
	height: 60px;
	background-color: #333333;
	grid-template-columns: 2fr 3fr 1fr;
	grid-template-areas: "heav_logo h_links h_login";
	border-width:2px 0px 2px 0px;
	border-style:solid;
	position: relative;
	border-color:#29A4D0;
	margin-top: 20px;
}
.heaven_links
{
	grid-area : h_links;
}
.heaven_links ul
{
	list-style-type: none;
	padding: 0;
	
	margin : 0;
}
.heaven_links li
{
	display: inline-block;
	
}
.heaven_links a
{
	display: block;
	color : #fff;
	padding: 14px;
    font-weight: bold;
    font-size: 20px;
	transition: 0.3s;
}
.heaven_links a:hover
{
	background-color: #29A4D0;
	transition: 0.3s;
	cursor: pointer;
}
.heaven_dropdown
{
	color : #fff;
	font-weight: bold;
	font-size : 20px;
}
.heaven_dropdown>.user_dropdown
{
	height : 60px;
	padding : 17px 13px 0px 3px;
}
.heaven_dropdown>.user_dropdown:hover
{
	background-color: #29A4D0;
}
.heaven_dropdown i{
	height: initial;
}
.heaven_search
{
	grid-column: 3;
	padding: 12px 14px;
}
.heaven_search input
{
	width: 100%;
	font-size: 20px;

}

/*Slideout styles */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: rgba(0,0,0,0);
  background-image: url(../images/bg_blue.png); /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
#slideout_menu
{
	background-color: #333333;
	color : #fff;
	font-weight: bold;
	font-size : 20px;
}
#slideout_menu a
{
	color : #fff;
}
.main_slideout_menu
{
	list-style-type: none;
	padding: 0;
	margin : 0;
}
.main_slideout_menu a
{
	transition: 0.3s;
	display: block;
	padding: 10px 0px 10px 20px;
}
.slideout_header
{
	font-size: 24px;
	height: 60px;
	border-width:2px 0px 2px 0px;
	border-style:solid;
	border-color:#29A4D0;
	color : #000;
	font-weight: normal;
}
.slideout_button
{
	color : #fff;
	font-size : 30px;
	display: none;
	transition: 0.3s;
}
.slideout_button i
{
	padding: 13px;
}
.slideout_button i:hover,
.main_slideout_menu a:hover
{
	transition: 0.3s;
	background-color: #29A4D0;
}
/*Slideout styles */






.header
{
	background-color: #6500A9;
	color:#fff;
}
.auth_links
{
	height: 100%;
	margin-top :5px;
	float:right;
	font-size : 24px;
}
.auth_links a
{
	color : #fff;
}
.soc_buttons
{
	float: left;
	font-size: 30px;
}
.soc_buttons a, .auth_icons a
{
	color : #fff;
	margin: 0 1px;
}
.sub_head
{
	/*background-color: #5AC4C2;*/
	/*background-image: url(../images/bg_blue.png);*/
	text-align: center;
	color: #fff;
	/*padding: 10px;*/
}
.logo
{
	margin-top: 20px;
	font-family: CalligraphMedium;
	font-size: 55px;
}
.auth_icons
{
	float: left;
	font-size: 30px;
}
.main_menu
{
	margin-top: 20px;
	width : 100%;
	background-color: #4CA6A5;
	border-radius: 8px;
	font-size : 20px;
}
.main_menu a
{
	height: 100%;
	color : #fff;
	display: inline-block;
}
.desk_menu a
{
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
	padding: 13px;
}
.men_s
{
	border-radius: 7px 0px 0px 7px;
}
.desk_menu li:last-of-type a
{
    border-radius: 0 7px 7px 0;
}
.desk_menu li:first-of-type a
{
    border-radius: 7px 0px 0px 7px;
}
.main_menu a:hover
{
	background-color: #408B8A;
}
.main_menu ul
{
	text-transform: uppercase;
	margin:0;
	padding: 0;
	list-style-type: none;
}
.main_menu li
{
	float : left;
	display: inline-block;
}
.men_but
{
	font-size : 25px;
	border-radius: 8px;
	display: inline-block;
	width : 100%;
	height: 100%;
	margin-bottom: -5px;
}
.men_bars
{
	padding: 5px 15px;
	border-radius: 8px;
	float : left;
}
.search_cont
{
	display: inline-block;
	color : #000;
	height: 100%;
	width : 30%;
	font-size : 24px;
	float: right;
	padding: 9px;
	background-color: #fff;
	margin-top : 0px;
	border : 1px solid #000;
	border-radius: 7px 0px 0px 7px;
}
.search_cont_mini
{
	width : 100%;
	padding: 5px 20px;
	margin-right: 1px;
	box-shadow: none;
	border-radius: 0px;
}
.search
{
	height: 100%;
	border: 0;
	width : 100%;
	outline: none;
}
.search_icon a
{
	padding: 9px 25px;
	float :right;
	font-size : 25px;
	border-radius: 0 7px 7px 0;
}
.search_icon_mini
{
	padding: 5px 15px;
	border-radius: 0; 
	box-shadow: none;
}
.shadow
{
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
}
.slider img
{
	max-width: 100%;
}
.slider
{
	-webkit-box-shadow: -1px 2px 90px -2px rgba(102,117,255,1);
	-moz-box-shadow: -1px 2px 90px -2px rgba(102,117,255,1);
	box-shadow: -1px 2px 90px -2px rgba(102,117,255,1);
	border: 1px solid #000;
	position: relative;
	margin-bottom: 20px;
}
.next_button,
.prev_button
{
	font-size : 46px;
	z-index: 10;
	position: absolute;
	cursor: pointer;
	height: 50%;
	width: 35%;
	top : 25%;
	color: rgba(0,0,0,0.3);
	vertical-align: center;
}
.next_button i,
.prev_button i
{
	margin-top : 35%;
}
.next_button:hover,
.prev_button:hover
{
	color: rgba(0,0,0,0.7);
}
.next_button
{
	text-align : right;
	right : 1%;
}
.prev_button
{
	text-align: left;
	left : 1%;
}
.over_text
{
	-webkit-box-shadow: inset -1px 2px 90px -2px rgba(102,117,255,1);
-moz-box-shadow: inset -1px 2px 90px -2px rgba(102,117,255,1);
box-shadow: inset -1px 2px 90px -2px rgba(102,117,255,1);
	font-family : BravoRegular;
	border: 1px solid #000;
	border-radius: 10px 20px;
	bottom : 10px;
	left : 10px;
	position: absolute;
	font-size : 45px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	padding: 20px 40px;
}
.over_text a
{
	color : #fff;
	
}
.over_title
{
	margin-bottom: 5px;
}
.over_inf
{
	font-size : 25px;
}
.news_item
{
	background-color: #fff;
}
.news .col-md-6
{
	margin : 15px 0px;
}
.main_context
{
	/*background-image: url(../images/bg_blue.png);*/
	/*background-color: #fff;*/
	color : #fff;
	margin-bottom : 45px;
}
.news_item
{
	font-size : 25px;
	text-align: center;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
	font-family : BravoRegular;
}
.context_title a
{
	font-weight: bold;
}
.anime_title a
{
	color: #979797;
	font-weight: bold;
	font-size : 20px;
}
.comments
{
	margin-top : 15px;
	padding: 5px;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
	color : #000;
	background-color: #fff;
}
.comments ul
{
	list-style-type: none;
	padding: 0px 5px;
	margin : 0;
}
.comments li
{
	border-bottom: 1px #EEEEEE solid;
}
.com_title
{
	margin-bottom: 5px;
	font-weight : bold;
}
.comments .col-md-8
{
	padding: 0;
}
.vk_news
{
	margin-top : 15px;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
	color : #000;
	background-color: #fff;
}
.main_footer
{
	background-color: rgba(0,0,0,0.4);
	color : #fff;
	margin-top : -35px;
}
.footer_ul
{
	font-size : 21px;
	list-style-type: none;
	margin: 1px;
}
.footer_ul li
{
	margin: 1px 10px;
	display: inline-block;
}
.main_context a, .over_text  a,
.main_footer a, .header a, .main_grid a{
  position: relative;
  text-decoration: none;
}
.main_context a:before,
.over_text a:before,
.main_footer a:before, .main_grid a:before
 {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.main_grid a:hover:before, .main_context  a:hover:before, .over_text a:hover:before,
.main_footer a:hover:before, .header a:hover:before, .user_inf_titles:hover a:before
 {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.context_title a:before
{
	background-color: #2B7DC4;
}
.over_text a:before, .main_footer a:before
{
	background-color: #fff;
}
.anime_title a:before
{
	background-color: #979797;
}
.pagination a:before
{
	background-color: #2B7DC4;
}
.pagination> .active> a:before
{
	background-color: #fff;
}
.com_title a:before, .waif_cont_column a:before
{
	background-color: #000;
}
.com_title a
{
	color : #000;
}
.com_img img
{
	border-radius: 100px;
}
.com_img a:before, .content_image a:before
{
	background-color: rgba(0,0,0,0);
}
.pag_container
{
	text-align: center;
	font-weight: bold;
}
.waif
{
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
	font-size : 21px;
	color : #000;
	background-color: #fff;
}
.waif>.waif_content
{
}
.waif>.waif_img
{
	position: relative;
}
.waif_img>.waif_img_cont
{
	position: absolute;
	width : 100%;
	bottom : 0;
	font-size : 35px;
	color : #fff;
	font-weight: bold;
	text-align: center;
}
.gradient_generator
{
background: rgba(0,0,0,0.15);
background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.63) 56%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.15)), color-stop(56%, rgba(0,0,0,0.63)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.63) 56%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.63) 56%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.63) 56%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.63) 56%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.waif_cont_title
{
	text-align: center;
	font-size : 28px;
	font-weight: bold;
}
.mobile_waif_title
{
	text-align: center;
	display: none;
}
.waif_cont_block
{
	margin: 10px;
}
.waif_cont_block.col-md-12
{
	margin-left : 0;
}
.waif+.waif
{
	margin-top : 10px;
}
#wcomments
{
	width : 100%;
	display: block;
	overflow:hidden;
	margin: 5px 0;

}
.comm_but
{
	width : 100%;
	margin: 5px 0;
	background-color: #006377;
	border: none;
	border-radius: 5px;
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
	font-weight: bold;
	color : #fff;
	transition: linear 0.2s;
}
.comm_but:active
{
	transition: linear 0.2s;
	box-shadow:
	   	0 3px 5px rgba(0,1,6,.5) inset,
	   	0 0 1px 1px rgba(0,1,6,.2) inset;
}
.waif_inp
{
	padding: 5px;
}
.waif .comments
{
	box-shadow : none;
}
.waif_author
{
	float : left;
	text-align: left;
	position: absolute;
	bottom: 2px;
	left : 4px;
	font-size : 25px;
}
.waif_follow
{
	float : right;
	text-align: right;
	position: absolute;
	bottom: 2px;
	right :4px;
	font-size : 25px;
}
.waif_follow_but
{
	display : inline-block;
	margin: 3px;
	cursor: pointer;
	font-size : 30px;
}
.waif_follow_but:hover
{
	transition : 0.5s;
	font-size : 33px;
}
.waif_follow_but:not(:hover)
{
	transition : 0.5s;
	font-size : 30px;
}
.row{
    margin-left : -10px;
    margin-right : -10px;
}
.pop_div
{
	background-color: #000;
	color : #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	width : 200px;
	position: fixed;
	bottom: 10px;
	right: 10px; 
	padding: 20px;
	z-index: 999;
	text-align: center;
	background-color: rgba(0,0,0,0.0);
	color : rgba(0,0,0,0.0);
	border-color : rgba(0,0,0,0.0);}
.pop_show
{
	background-color: rgba(0,0,0,1);
	color : rgba(255,255,255,1);
	/*border-color: rgba(255,255,255,1);*/
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
	transition: 1s;
}
.pop_hide
{
	background-color: rgba(0,0,0,0.0);
	color : rgba(0,0,0,0.0);
	border-color : rgba(0,0,0,0.0);
	box-shadow: none;
	transition: 1s;
}
.mobile_waif_title
{
	background-image: url(../images/bg_blue.png);
}
.xs-author
{
	display: none;
}
.waif_tags > .tag
{
	padding: 0 3px;
	font-weight: bold;
	background-color: #A9A9A9;
	display: inline-block;
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
}
.tag a
{
	color : #000;
}
.user_main
{
	background-color: #fff;
	padding : 10px;
	color : #000;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
}
.user_img
{
	max-width: 100%;
	height: 160px;
	width : 160px;
}
.user_info, .user_inf_titles
{
	color : #000;
}
.user_name
{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
}
.add_info > ul, .user_waif_list
{
	list-style-type: none;
	margin: 0;
	padding : 0;
}
.add_info > ul > li
{
	display: inline-block;
	font-size: 19px;
}
.add_info > ul > li+li:before
{
	content : '/ ';
}
.user_status
{
	float : right;
	margin-right: 10px;
	font-weight: bold;
	font-size: 30px;
	color : #6500A9;
}
.user_inf_titles
{
	margin-top : 10px;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	background-color: #E8EBEF;
	cursor: pointer;
	/*box-shadow: 6px 6px 6px rgba(0,0,0,.5);*/
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
}
.user_inf_titles:hover
{
	background-color: #AFB2B5;
}
.user_inf_titles a
{
	color : #000;
}
.user_titles_arrow
{
	float: right;
	margin: 2px;
	margin-top : 2%;
}
.user_waif_list
{
	padding: 0 15px;
	text-align: center;
}
.user_waif_list a:before
{
	background-color: #337AB7;
}
.user_inf_titles a:before
{
	background-color: #000;
}
.user_waif_list > li
{
	font-size: 20px;
	font-weight: bold;
	margin: 3px 0px;
	padding: 0;
	background-color: #fff;
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
	/*box-shadow: 6px 6px 6px rgba(0,0,0,.5);*/
}
.usl_title
{
	margin-top: 10%;
	padding: 0;
	text-align: center;
}
.user_waif_img
{
	padding: 1px;
	margin: 0;
}
.user_biog
{
	font-size: 20px;
}
.user_waif_img a:before
{
	background-color: rgba(0,0,0,0);
}

.load_image
{
	
}
.load_image_cont
{
	font-size : 17px;
}
.add_waif
{
	padding-bottom: 10px;
}
.chapter_row
{
	margin: 20px 10px;
}
.chapter_input
{
	width : 100%;
}
.chapter_label
{
	font-weight: bold;
	font-size : 23px;
	text-align: right;
}
.content_chapter
{
	margin: 20px 0px 10px 0px;
}
.description_chapter
{
	margin-top: 25px;
	border-radius: 5px;
	box-shadow:
	   	0 1px rgba(255,255,255,.2) inset,
	   	0 3px 5px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
}
.desc_title
{
	padding : 5px;
	position: relative;
	text-align: center;
	border-radius: 5px;
	box-shadow:
	   	0 0px rgba(255,255,255,.2) inset,
	   	0 0px 0px rgba(0,1,6,.5),
	   	0 0 1px 1px rgba(0,1,6,.2);
}

.desc_select, .desc_select_title
{
	float : left;
	font-size: 21px;
	margin-top : 5px;
	border-radius: 5px;
}
.desc_select_title
{
	margin: 5px 10px;
}
.field_input
{
	width : 100%;
	text-align: center;
	border : 0px;
	padding : 3px;
}
.desc_field_row
{
	font-weight: bold;
	font-size: 21px;
	margin: 5px;
	padding : 3px;
	padding-top: 11px;
}
.field_add_but
{
	float : right;
	width : 15%;
	margin: 10px;
	margin-right: 20px;
}
.desc_field_text
{
	padding : 3px;
	width : 100%;
	font-weight : normal;
}
.delete_el_but
{
	position: absolute;
	top : -12px;
	right: -5px;
	font-size: 25px;
	font-weight: bold;
	transition: 0.2s;
}
.delete_el_but:hover
{
	transition: 0.2s;
	color : #FF000D;
	cursor: pointer;
}
.desc_field_content > .delete_el_but
{
	right: 11px;
	top : -10px;
	font-size : 20px;
}
.add_but_cont
{
	margin-top : 15px;
}
.send_cont_text
{
	font-size: 17px;
	margin-top : 3px;
}
.load_but_mobile
{
	display: none;
}
.edit_photo_grid
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin : 10px;
}
.edit_grid
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
}
.edit_img
{
	width: 150px;
	height: 150px;
}
.edit_title
{
	grid-column : 1 / -1;
	color : #000;
}
.edit_login_grid
{
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 24px 72px 72px;
}
.edit_el
{
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 36px 36px;
}
.edit_pass_grid
{
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns : 1fr 2fr 1fr;
	grid-gap : 10px;
}
.edit_pass_el
{
	grid-column: 2/2;
}
.edit_custom_el > .chapter_label, 
.edit_pass_el > .chapter_label
{
	text-align: center;
}
.edit_el > .chapter_label
{
	margin-right: 10px;
}
.edit_custom_grid
{
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
			"custom_desc custom_name"
			"custom_desc custom_url"
			". save_butt"
}
.edit_custom_el
{
	padding: 10px;
}
.edit_custom_name
{
	grid-area: custom_name;
	padding: 5px;
	margin-top: 10px;
}
.edit_custom_url
{
	grid-area: custom_url;
	padding: 5px;
	margin-bottom: 8px;
}
.edit_custom_desc
{
	grid-area: custom_desc;
}
.save_button
{
	grid-area : save_butt;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-right: 5px;
}
#SaveAll
{
	grid-column: 3;
}
.empty_block_image
{
	width: 25%;
}
.waif_inp
{
	padding-bottom: 0px;
}
.empty_block
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.empty_block > .waif_cont_title
{
	margin : auto;
	color : cornflowerblue;
}
.error_block
{
	background-color: #fff;
	text-align: center;
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
}
.error_desc
{
	font-size: 35px;
}
.error_img
{
	width : 30%;
	margin-left: 15px;
}
/*Что-то гитхаб не робит, ыы x2 */