/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .vk_news
    {
        display: none;
    }
        .load_but
    {
        display: none;
    }
    .load_but_mobile
    {
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .auth_links
    {
        display: none;
    }
    .desk_menu li, .menu_el, .desk_menu a
    {
        width: 100%;
        float: none;
        display: block;
    }
    .desk_menu, .b_search
    {
        display: none;
        font-size : 17px;
    }
    .men_s
    {
        border-radius: 0;
    }
    .desk_menu li:last-of-type 
    {
        border-radius: 0px 0px 7px 7px;
    }
    .desk_menu li:first-of-type a
    {
        border-radius: 0;
        box-shadow: none;
        padding: 5px 15px;
    }
    .waif_author
    {
        display: none;
    }
    .xs-author
    {
        display: block;
    }
     .usl_title
    {
        margin-top: 0;
        margin : 0 15px;
        font-size: 24px;
    }
    .user_waif_list li:last-of-type
    {
        display: none;
    }
    .chapter_label
    {
        text-align: center;
    }
    .load_but
    {
        display: block;
    }
    .load_but_mobile
    {
        display: none;
    }
    .send_but_cont
    {
        text-align: center;
    }
    .send_but_cont > .field_add_but
    {
        float : none;
        width: 30%;
        margin : 5px 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .main_menu
    {
        margin-bottom : 15px;
    }
    .over_text
    {
        padding: 5px 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .col-md-9, .col-md-3
    {
        padding : 0px 0px;
    }
    .user_inf_titles
    {
        margin-top : 20px;
        margin-bottom: 10px;
    }
    .over_text
    {
        display: none;
    }
    .desk_menu li:first-of-type a
    {
        padding: 5px 5px;
    }
    .waif_img_cont, .load_but
    {
        display: none;
    }
    .mobile_waif_title
    {
        color : #fff;
        display: block;
    }
    .waif_follow
    {
        color : #fff;
        float : none;
        position: inherit;
        text-align: center;
    }
    .waif_follow_but
    {
        font-size: 20px;
    }
    .waif_follow_but:hover
    {
        font-size : 20px;
    }
    .waif_follow_but:not(:hover)
    {
        font-size : 20px;
    }
    .col-xs-6.waif_rec
    {
        width : 100%;
    }
    .load_but_mobile
    {
        display: block;
    }
    .add_but_cont
    {
        text-align: center;
    }
    .add_but_cont > .field_add_but
    {
        width : 90%;
        float: none;
        margin-right: 0px;
    }
    .desc_field_content > .delete_el_but
    {
        right : -4px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   .sub_logo_min
   {
        display: none;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .desk_menu
    {
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}